<table class="table">
<tbody>
	{%- for entry in entries %}
	<tr>
		<td>
			<span class="date">
				{% if entry['skip_year'] == "false" %}
					<big><strong>{{ entry['year'] }}</strong></big><br />
				{% endif %}
			</span>
		</td>
		<td class="publication">
			{% if entry['language'] %}
				<span class="language">[{{ entry['language'] }}] </span>
			{%- endif %}
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="/img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
				<a href="/publications/{{ entry['year'] }}-{{ entry |title|replace(" ", "_") }}"><span class="fas fa-globe"></span> Abstract</a>
			</span><br />
			<span class="authors">
				{{ entry['author']}}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			<br />
			</span>
			<br />
			{%- if entry['abstractNOTUSED'] %}
			<span class="abstract">
				<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" onclick="$('#abstract_{{entry['key']}}').slideToggle('fast');return false;">abstract</button>
				<div id="abstract_{{entry['key']}}" class="abstract" style="display: none;">
					{{ entry['abstract'] |escape }}
				</div>
			</span>
			{%- endif %}
		</td>
	</tr>
	{%- endfor %}
</tbody>
</table>
