<table class="table">
<tbody>
{%- set prev_year = 1900 %}
{%- set entry = entries %}
    <!-- Metadata for indexing -->
	<meta name="citation_title" content="{{ entry |title}}">
	<meta name="citation_author" content="{{ entry['author']}}">
	<meta name="citation_publication_date" content="{{ entry['year'] }}">
	{% if entry['school'] %}<meta name="citation_dissertation_institution" content="{{ entry['school'] }}">{% endif %}
	{% if entry['url'] %}<meta name="citation_public_url" content="{{ entry['url'] }}">{% endif %}
	{% if entry['school'] %}<meta name="citation_pdf_url" content="{{ entry['url'] }}">{% endif %}
	{% if entry['language'] %}<meta name="citation_language" content="{{ entry['language'] }}">{%- endif %}
	{% if entry['abstract'] %}<meta name="citation_abstract" content="{{ entry['abstract'] }}">{%- endif %}
	
	<tr>
		<td>
			<span class="date">
				{% if entry['year'] != prev_year %}
				<big><strong>{{ entry['year'] }}</strong></big><br />
				{% endif %}
				{%- set prev_year = entry['year'] %}
			</span>
		</td>
		<td class="publication">
			{% if entry['language'] %}
				<span class="language">[{{ entry['language'] }}] </span>
			{%- endif %}
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="/img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry['author'] }}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			<br />
			<span class="keywords">
				{% if entry['keywords'] %}
					{%- for keyword in entry['keywords'].split(',') %}
						<span class="badge badge-info">{{ keyword }}</span>
					{%- endfor %}
				{%- endif %}
			</span>
			<br />
			<span class="abstract">
			{%- if entry['abstract'] %}
				<div id="abstract_{{entry['key']}}" class="abstract" style="text-align: justify; text-justify: inter-word;">
					{{ entry['abstract'] | safe }}
				</div>
			{%- endif %}
			</span>
		</td>
	</tr>
</tbody>
</table>
