<table class="table">
<tbody>
{%- set prev_year = 1900 %}
{%- for entry in entries %}
    <!-- Metadata for indexing -->
	<meta name="citation_title" content="{{ entry|title }}">
	{% for author in entry.persons['author'] %}<meta name="citation_author" content="{{ author }}">{% endfor %}
	<meta name="citation_publication_date" content="{{ entry.fields['year'] }}">
	{% if entry.fields['school'] %}<meta name="citation_dissertation_institution" content="{{ entry.fields['school'] }}">{% endif %}
	{% if entry.fields['doi'] %}<meta name="citation_doi" content="{{ entry.fields['doi'] }}">{% endif %}
	{% if entry.fields['annote'] %}<meta name="citation_language" content="{{ entry.fields['annote'] }}">{%- endif %}
	
	<tr>
		<td>
			<span class="date">
				{% if entry.fields['year'] != prev_year %}
				<big><strong>{{ entry.fields['year'] }}</strong></big><br />
				{% endif %}
				{%- set prev_year = entry.fields['year'] %}
				{{ entry.fields['month']|monthname }}
			</span>
		</td>
		<td class="publication">
			{% if entry.fields['annote'] %}
				<span class="language">[{{ entry.fields['annote'] }}] </span>
			{%- endif %}
			<span class="pubtitle">
				{%- set url = entry|main_url %}
				{%- if url %}
				<img src="/img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="{{ url|escape }}">{{ entry|title }}</a>.
				{%- else %}
				{{ entry|title }}.
				{%- endif %}
			</span><br />
			<span class="authors">
				{{ entry.persons['author']|author_list }}.
			</span><br />
			<span class="venuetype">{{ entry|venue_type -}}</span><span class="venue">{{ entry|venue -}}</span>.
			{%- if entry.fields['doi'] %}
                            <span class="doi"><a href="https://doi.org/{{ entry.fields['doi'] }}">{{ entry.fields['doi'] }}<a/>.</span>
                        {%- endif %}
			{%- if entry.fields['note'] %}
			<span class="note">
			{{ entry.fields['note']|escape }}.
			</span>
			{%- endif %}
			<br />
			<span class="links">
			{%- for type, url in (entry|extra_urls).items() %}
				[<a href="{{ url|escape }}">{{ type|escape }}</a>]
			{%- endfor %}
			</span>
			<span class="keywords">
				{% if entry.fields['keywords'] %}
					{%- for keyword in entry.fields['keywords'].split(',') %}
						<span class="badge badge-info">{{ keyword }}</span>
					{%- endfor %}
				{%- endif %}
			</span>
			<br />
			<span class="abstract">
			{%- if entry.fields['abstract'] %}
				<div id="abstract_{{entry.fields['key']}}" class="abstract">
					{{ entry.fields['abstract'] |escape }}
				</div>
			{%- endif %}
			</span>
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>
