<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="/img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://lifs.hallym.ac.kr/pubs/2019-Thesis-MSc-Addisu-Smart_Home_IoT_Forensics.pdf">Smart Home IoT Forensics</a>.
			</span><br />
			<span class="authors">
				Addisu Afework Birhanu.
			</span><br />
			<span class="venuetype">Master's thesis, Hallym University</span><span class="venue"></span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="/img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1016/j.diin.2013.06.001">A study of user data integrity during acquisition of Android devices</a>.
			</span><br />
			<span class="authors">
				Namheun Son, Yunho Lee, Dohyun Kim, Joshua I James, Sangjin Lee, and Kyungho Lee.
			</span><br />
			<span class="venuetype"></span><span class="venue">Digital Investigation</span>.
                            <span class="doi"><a href="https://doi.org/10.1016/j.diin.2013.06.001">10.1016/j.diin.2013.06.001<a/>.</span>
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
